.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Content section styling for user-details and appointment-details side by side */
.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1; /* Set a background color for both sections */
}

/* Style for UserDetails and AppointmentDetails components */
.content > div {
  width: 48%; /* Adjust width as needed */
  box-sizing: border-box;
  background-color: #fff; /* White background for each component */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd; /* Border for each component */
}

/* Adding a dividing line between the two components */
.content > div + div {
  margin-left: 4%; /* Space between components */
}

/* Optional margin between components */
.content > div:last-child {
  margin-left: 20px; /* Adds some space between the right-side component */
}

/* Optional, if you want the sections to have the same height */
.content > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack components vertically */
    align-items: center;
  }

  .content > div {
    width: 100%; /* Full width for components on small screens */
    margin-bottom: 20px; /* Adds space between components */
  }

  .content > div:last-child {
    margin-bottom: 0; /* Remove bottom margin for last component */
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.login-overlay {
  background: url('/public/Assets/Images/image5.jpg') no-repeat center center/cover;
}
