/* Search Bar Container */
.search-bar-container {
  position: relative;
  width: 800px;
  margin-top: 150px;
}

/* Input Wrapper with Icon */
.search-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 300px;
}

/* Search Input */
.navbar-search-input {
  width: 100%;
  padding: 8px 40px 8px 10px; /* Extra padding for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Search Icon */
.search-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
}
