.header-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
  }
 
  .header-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stat-box:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
    transform: translateY(-5px) scale(1.05); /* Move it up and slightly enlarge it */
  }
  
  .stat-box {  
    display: flex;  
    align-items: center;  
    gap: 10px;  
  
    padding: 10px 15px;  
    border-radius: 8px;  
    flex: 1;  
    margin: 0 10px;  

    /* Set fixed size */  
    width: 200px;  /* Adjust this value as needed */  
    height: 145px; /* Adjust this value as needed */ 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}
  
  .stat-icon {
    font-size: 30px;
    color: #FF3600;
    background-color: #f0f8ff; /* Optional: Set the circle's background color */
    border-radius: 50%; /* Makes the background a circle */
    padding: 15px; /* Adds space around the icon inside the circle */
    display: inline-flex; /* Centers the icon within the circle */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    border: 3px solid #FF3600; /* Optional: Add a border around the circle */
    width: 60px; /* Adjust circle width */
    height: 60px; /* Adjust circle height */
  }
  
  
  .stat-number {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .stat-label {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  .action-icon {
    font-size: 24px;
    color: #FF3600;
    cursor: pointer;
  }
  