.doctor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .doctor-cards {
    background-color: #fff;
    border: 1px solid #5A3ECA;;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-cards .doctor-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .doctor-cards h3 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .doctor-cards p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .doctor-buttons button {
    background-color: #5A3ECA;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .doctor-buttons button:hover {
    background-color: #5A3ECA;
  }
  
  @media (max-width: 768px) {
    .doctor-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .doctor-grid {
      grid-template-columns: 1fr;
    }
  }
  