.forgot-password-container {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
  }
  
  .forgot-password-header h2 {
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
 
  .form-group label {
    display: block;
    margin-bottom: 5px;
    flex-shrink: 0; /* Prevent the label from shrinking */
    flex-basis: 60px;
    text-align: right;
   
  }
  .form-group {
    margin-bottom: 25px; /* Increase spacing to accommodate error message */
    text-align: left;
    position: relative; /* To ensure the error message is aligned with the input */
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
    margin-bottom: 5px; /* Space between input and error message */
  }
  
  .form-group input::placeholder {
    color: #aaa; /* Adjust placeholder color for better visibility */

  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -5px; /* Pull closer to the input field */
    display: block; /* Ensures the error message appears below the input */
    position: absolute; /* Positioning relative to form-group */
    bottom: -18px; /* Moves error message directly below input */
    left: 110px; /* Aligns error message with input's left edge */
  }
  
  
  .form-group select {
    background-color: #fff;
  }
  
  .error-input {
    border: 2px solid red;
  }
  
  
  
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .forgot-password-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .form-group {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the left */
    margin-bottom: 20px; /* Space between form groups */
  }
  .label-input-container {
    display: flex;
    flex-direction: row; /* Place label and input on the same row */
    align-items: center; /* Align label and input vertically */
    width: 100%; /* Ensure container spans full width */
  }
  
  .label-input-container label {
    margin-right: 10px; /* Add space between label and input */
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Adjust label color */
  }
  /* .popup-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
  }
  
  .popup-button {
    width: 100%; 
    padding: 10px;
    background-color: #ff5722; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

  }
  
  .popup-button:hover {
    background-color: #e64a19; 
  }
   */